<h1>Packliste</h1>
<p>Neues Item hinzufügen...</p>

<button type="button" class="btn btn-default"><%= link_to "Item hinzufügen", new_item_path %></button>
<br>
<hr>
<% @items.each do |item| %>
<div class="row item">

    <div class="col-md-6">
        <h2 class="toggel-green" data-itemid="<%= item.id %>"><%= link_to item.title, item %></h2>
        <p><%= item.description %></p>
    </div>
    <div class="col-md-2">
        <%= link_to check_item_path(item), method: :patch do %>
        <h2><i class="fa fa-check" data-itemid="<%= item.id %>" aria-hidden="true"></i></h2>
        <% end %>
    </div>

</div>
<% end %>
